.container{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div {
    width: 10px;
    height: 10px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.alive {
    background-color: black;
}

.dead {
    background-color: darkgray;
}

.center {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
    background-color: gray;
}