.container{
    display: flex;
}

.container > div {
    width: 20px;
    height: 20px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.alive {
    background-color: black;
}

.dead {
    background-color: cornflowerblue;
}